@import url(https://lsong.org/css/stylesheet.css);

.card {
  --card-margin: 0px;
  --card-padding: 10px;
  --card-border-radius: 5px;
  margin: var(--card-margin);
}

#hello {
  display: none;
}

#loading p {
  height: 2em;
  background-color: #eee;
}

a {
  text-decoration: none;
}

.link {
  gap: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card:hover {
  cursor: pointer;
  background-color: #efefef;
}

.bookmarks li>a {
  color: #333;
}

.bookmarks .link-icon {
  width: 32px;
  height: 32px;
  min-width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
}