@import url(https://lsong.org/css/stylesheet.css);
@import url(https://lsong.org/stylesheets/flex.css);
@import url(https://lsong.org/stylesheets/card.css);
@import url(https://lsong.org/stylesheets/grid.css);
@import url(https://lsong.org/stylesheets/button.css);

#hello {
  display: none;
}

#loading p {
  height: 2em;
  background-color: #eee;
}

a {
  text-decoration: none;
}

.link {
  gap: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card:hover {
  cursor: pointer;
  background-color: #efefef;
}

.bookmarks li>a {
  color: #333;
}

.bookmarks .link-icon {
  width: 32px;
  height: 32px;
  min-width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
}